.widgets{
    z-index: 2;
}
.widgets svg {
    font-size: 25px;
    position: relative;
    top: 16px;
        margin-right: 10px;
    fill: white;
    width: 22px !important;
    margin-left: 10px;
}
.widgets .fl-fl {
    
  background: #FF8B38;

  letter-spacing: 3px;
/*  padding: 8px;*/
  width: 230px;
  position: fixed;
  right: -188px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
    
        font-size: 13px;
    height: 60px;
}

.widgets .fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.widgets .fl-fl:hover {
  right: 0;
}

.widgets .fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;

}

.widgets .float-fb {
  top: 160px;
}

.widgets .float-tw {
  top: 215px;
}

.widgets .float-gp {
  top: 270px;
}

.widgets .float-rs {
  top: 325px;
}

.widgets .float-ig {
  top: 380px;
}
 
.widgets .float-pn {
  top: 435px;
}
.ficon a svg{
    fill: #CFCFCF;
        width: 30px;
    height: 30px;
}
.ficon a svg:hover{
    fill: #43BCE1;
}

.widgets .fl-fl span {
    color: white;
    position: relative;
    top: 16px;
}
.widgets a {
    text-decoration: none;
}
